<body>
    <script src="~/js/site.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <div class="row">
        <button onclick="pickCard(this.id)" id="0" class="card"></button>
        <button onclick="pickCard(this.id)" id="1" class="card"></button>
        <button onclick="pickCard(this.id)" id="2" class="card"></button>
    </div>
    <div class="row">
        <button onclick="pickCard(this.id)" id="3" class="card"></button>
        <button onclick="pickCard(this.id)" id="4" class="card"></button>
        <button onclick="pickCard(this.id)" id="5" class="card"></button>
    </div>
    <div class="row">
        <button onclick="pickCard(this.id)" id="6" class="card"></button>
        <button onclick="pickCard(this.id)" id="7" class="card"></button>
        <button onclick="pickCard(this.id)" id="8" class="card"></button>
    </div>
    <div class="row">
        <button onclick="pickCard(this.id)" id="9" class="card"></button>
        <button onclick="pickCard(this.id)" id="10" class="card"></button>
        <button onclick="pickCard(this.id)" id="11" class="card"></button>
    </div>
</body>




